
.image-background-holder { 
    position: relative;
    background-color: black; 
    min-height: 25rem;
    width: 110%;
    overflow: hidden;
}

.image-background-holder .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 110%;
    height: 100%;
    object-fit: cover; 
    object-position: center;
    z-index: 0;
}


.image-background-holder .overlay { 
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 110%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}


.image-background-content { 
    position: relative;
    z-index: 2;
    height: 100vh;
    display: flex;
    align-items: center; 
    justify-content: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}


.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.85);
    text-transform: uppercase;
}
.navbar-dark .navbar-nav .nav-link:hover {
    color: #ffc107; 
}
.bg-dark-transparent {
    background-color: rgba(0, 0, 0, 0.7) !important; 
}

.marquee-container {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 0;
    line-height: 0; 
}

.marquee-content.image-marquee {
    display: inline-block;
    padding-left: 100%;
    animation: marquee-scroll 40s linear infinite; 
    white-space: nowrap;
}

.marquee-item {
    display: inline-block;
    height: 90px; 
    width: auto;
    margin-right: 15px; 
    overflow: hidden;
    border-radius: 8px; 
}

.marquee-item img {
    width: auto;
    object-fit: cover; 
}

@keyframes marquee-scroll {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-50%, 0); 
    }
}
.container text-center{
    background-color: peru;
}
.story{
    text-align: center;
    
}
